#search-box{
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
    width: 40%;
    aspect-ratio: 12 / 1;
    border-radius: 9999px;
    margin: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#search-box #search {
    font-size: 2.5vh;
    position: absolute;
    height: 100%;
    width: 70%;
    background: transparent;
    border: none;
    outline: none;  
    left: 2%;
}

#search-box #icon {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    height: 50%;
    aspect-ratio: 1 / 1;
    background-image: url("../Icons/search.png");
    background-size: cover;
    background-repeat: no-repeat;
}